.corps {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.corps>* {
  flex: 80%;
}

@media (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media (min-width:8000px) {
  .main {
    flex: 1 0px;
  }
  .main {
    order: 1
  }
  .footer {
    order: 2;
  }
}

#conversation {
  width: 600px;
  height: 400px;
  /* background-color: rgba(142, 138, 134, 0.7); */
  overflow: auto;
  padding: 5px;
  margin: 0 auto;
}

/* fieldset {
  width: 330px;
  background-color: rgba(142, 138, 134, 0.7);
} */

.conteneur {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.msg {}

.user {
  font-weight: bold;
  color: brown;
}

.time {
  margin-left: 10px;
  float: right;
  color: #aaa;
}

.date {
  color: #aaa;
  float: right;
}

.main>form {
  text-align: center;
}

#msg {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: -20px;
}

#envoyer {
  background-color: #6495ED;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
}