/*http://www.livraison-couscousrapidos.fr/
http://www.omaquis.com/index.php
*/

.corps {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.corps>* {
  flex: 80%;
}

@media (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media (min-width:8000px) {
  .main {
    flex: 1 0px;
  }
  .main {
    order: 1
  }
  .footer {
    order: 2;
  }
}

#myVideo {
  width: 100%;
}

.remonter {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 5px;
  float: right;
  background-color: #CCC;
  opacity: 0.7;
}

.vid {
  width: 80%;
  margin: 0 auto;
}

.presentation {
  width: 80%;
  margin: 0 auto;
}