.corps {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.corps>* {
  flex: 80%;
}

@media (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media (min-width:8000px) {
  .main {
    flex: 1 0px;
  }
  .main {
    order: 1
  }
  .footer {
    order: 2;
  }
}

tr, td {
  border: 2px solid #FFFACD;
  padding: 5px;
  text-align: left;
  color: rgb(48, 48, 43);
}

th {
  border: 1px dotted #FFFACD;
}

figure {
  float: right;
  position: relative;
  width: 400px;
  /* height: 800px; */
  padding: 50px;
  text-align: center;
}

figcaption {
  float: none;
  color: #191970;
}

.remonter {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 5px;
  float: right;
  background-color: #CCC;
  opacity: 0.7;
}

.presentation {
  width: 80%;
  margin: 0 auto;
}

li {
  color: rgb(48, 48, 43);
}